extends: default

rules:
  document-start: disable
  line-length:
    max: 200
  comments:
    min-spaces-from-content: 1
    require-starting-space: false
  indentation:
    spaces: 2
    indent-sequences: whatever
  truthy: disable
